html {
  background-color: ffede3;
}
body {
  font-family: rubik;
  background-color: #ffede3;
}

h1 {
  color: #000;
  font-family: Rubik;
  font-size: 54px;
  font-style: normal;
  font-weight: 300;
  line-height: 64px;
  letter-spacing: -0.5px;
}

h3,
h4 {
  font-weight: 300;
  line-height: 1.5;
}

section {
  margin-bottom: 1em;
}

@media (min-width: 767px) {
  section {
    margin-bottom: 2em;
  }
}

/* HERO SECTION */

.avatar-wobble {
  animation: wobble 8s ease-in-out alternate infinite;
}

@keyframes wobble {
  0% {
    border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
  }
  50% {
    border-radius: 750px 250px 750px 250px / 250px 750px 250px 750px;
  }
  100% {
    border-radius: 250px 750px 250px 750px / 750px 250px 750px 250px;
  }
}

.photo {
  display: flex;
}

.photo img {
  margin: 0 auto;
}

.headline {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero {
  flex-direction: column-reverse;
  margin-top: 100px;
  gap: 1em;
}

.headline-text {
  margin: 0 auto;
}

.email-button {
  display: flex;
  justify-content: right;
}

@media (min-width: 767px) {
  .hero {
    flex-direction: row;
    gap: 0;
  }
  .photo img {
    margin: 0;
    margin-left: auto;
  }
  .headline-text {
    margin: 0;
  }
  .page-border {
    padding: 2em;
  }
}

/* CONTACT SECTION */

.page-border {
  border: 1px solid black;
  border-radius: 5px;
  padding: 1em;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-space {
  margin-right: 20px;
  display: inline-block;
}

.socials {
  flex-direction: column;
  gap: 1em;
}
.email-button {
  width: 100%;
  justify-content: center;
}

@media (min-width: 767px) {
  .page-border {
    padding: 2em;
  }
  .icons {
    justify-content: start;
  }
  .socials {
    flex-direction: row;
    gap: 0;
  }
  .email-button {
    width: fit-content;
  }
  .button-container {
    display: flex;
    justify-content: right;
  }
}

/* SKILL SECTION  */
svg {
  fill: #000000;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-box {
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  flex-direction: column;
  padding: 10px;
}

.skill-box img,
.skill-box svg {
  height: 1.5em;
  width: 2em;
  margin-right: 10px;
}

/* PROJECTS GRID */
.grid {
  height: 100vh;
  display: grid;
  gap: 5px;
  width: 100%;
}

.image-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}

.main-image,
.hover-image {
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: opacity 0.3s ease;
}

.hover-image {
  opacity: 0;
}

.image-wrapper:hover .hover-image {
  opacity: 1;
}

@media (max-width: 767px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .image-wrapper img {
    height: 100%;
  }
}

@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .image-wrapper img {
    height: 100%;
  }
}

/* PROJECTS PAGE */
.projects-grid {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(1, 1fr);
}

.project {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
  height: 450px;
  padding: 10px;
  text-align: center;
}

.project img {
  width: 100%;
  max-height: 300px;
  object-fit: contain;
  padding-top: 10px;
  padding-bottom: 10px;
}

.project h2,
.project p,
.project a {
  margin: 0;
  padding: 5px;
}

@media (min-width: 600px) {
  .projects-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .projects-grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .projects img {
    height: 300px;
  }
}

a {
  color: #000;
}
